<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tipo Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            width: 100%;
            border-radius: 5px;
        }
        .contenido header {
            background: #333;
            padding: 20px 0 20px 0;
            display: flex;
            align-items: center;
            color: white;
            margin-bottom: 20px;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: white;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #333;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="contenido">
        <header>
            <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/tipoMedia/listar'"></i>Crear Tipo media</h1>
        </header>
        <div style="width: 50%; margin: 0 auto; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px">
            <form action="/admin/tipoMedia/create" method="post">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="{{nombre}}">

                <div style="flex-wrap: nowrap">
                    <label for="activo">Activo</label>
                    <input type="radio" id="activo" name="activo" value="1">

                    <label for="inactivo">Inactivo</label>
                    <input type="radio" id="inactivo" name="activo" value="0">
                </div>

                <button type="submit">Crear</button>
            </form>
        </div>
    </div>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                const errores = decodeURIComponent(error).split(';');
                errores.forEach((error) => {
                    toastr.error(error);
                });
            }
        };
    </script>
</body>
</html>
