<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Tipo Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .contenido header {
            background-color: #333;
            color: white;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 20px 0 20px 0;
        }

        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }

        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 2px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #333;
            padding: 10px;
            text-align: center;
            color: white;
        }

        button {
            background-color: #333;
            color: white;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 200px;
            height: 40px;
            font-size: 16px;
        }

        .button i {
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <div class="contenido">
        <header>
            <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin'"></i>Entidad 2 - Tipo Media</h1>
        </header>
        <div style="width: 80% !important;">
            <h2>Listado</h2>
            <table>
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                {{#each tipoMedia}}
                    <tr>
                        <td style="text-align: center">{{orden}}</td>
                        <td>{{nombre}}</td>
                        <td style="text-align: center">
                            {{#if activo}}
                                Activo
                            {{else}}
                                Inactivo
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
                <button class="button" onclick="window.location.href='/admin/tipoMedia/crear'"><i class="fas fa-plus"></i>Crear</button>
            </table>
        </div>
    </div>
    <div style="margin-top: 10px; width: 80%">
        {{#if tipoMedia.length}}
            <span><strong>Total de tipo media:</strong> {{tipoMedia.length}}</span>
        {{else}}
            <span>No hay tipo media registrado</span>
        {{/if}}
    </div>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');

            if (success) {
                toastr.success(success);
            }
        };
    </script>
</body>
</html>
