<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            width: 100%;
            border-radius: 5px;
        }
        .contenido header {
            background: #333;
            padding: 20px 0 20px 0;
            display: flex;
            align-items: center;
            color: white;
            margin-bottom: 20px;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: white;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #333;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="contenido">
        <header>
            <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/media/listar'"></i>Crear Media</h1>
        </header>
        <div style="width: 50%; margin: 0 auto; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px">
            <form action="/admin/media/create" method="post" enctype="multipart/form-data">
                <label for="tipoMedia">Tipo Media</label>
                <select id="tipoMedia" name="tipoMedia">
                    <option></option>
                    {{#each tipoMedia}}
                        <option value="{{id}}" {{#if (eq id ../tipoMediaSeleccionado)}}selected{{/if}}>{{nombre}}</option>
                    {{/each}}
                </select>

                <div>
                    <label for="url">URL</label>
                    <input type="checkbox" id="urlCheckbox" title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
                </div>
                <input type="text" id="url" name="url" value="{{url}}" disabled>

                <div>
                    <label for="src">SRC</label>
                    <input type="checkbox" id="srcCheckbox" title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
                </div>
                <input type="file" id="src" name="src" disabled>

                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" value="{{titulo}}">

                <label for="alt">Alt</label>
                <input type="text" id="alt" name="alt" value="{{alt}}">

                <label for="integrante">Integrante</label>
                <select id="integrante" name="integrante">
                    <option></option>
                    {{#each integrantes}}
                        <option value="{{matricula}}" {{#if (eq matricula ../integranteSeleccionado)}}selected{{/if}}>{{nombre}} {{apellido}}</option>
                    {{/each}}
                </select>

                <div style="flex-wrap: nowrap">
                    <label for="activo">Activo</label>
                    <input type="radio" id="activo" name="activo" value="1">

                    <label for="inactivo">Inactivo</label>
                    <input type="radio" id="inactivo" name="activo" value="0">
                </div>

                <button type="submit">Crear</button>
            </form>
        </div>
    </div>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                const errores = decodeURIComponent(error).split(';');
                errores.forEach((error) => {
                    toastr.error(error);
                });
            }

            const urlCheckbox = document.getElementById('urlCheckbox');
            const srcCheckbox = document.getElementById('srcCheckbox');
            const urlInput = document.getElementById('url');
            const srcInput = document.getElementById('src');

            urlCheckbox.addEventListener('change', function() {
                if (this.checked) {
                    // Si el checkbox de URL está seleccionado, habilita el campo de entrada de URL y deshabilita el de SRC
                    urlInput.disabled = false;
                    srcInput.disabled = true;
                    srcCheckbox.checked = false;
                } else {
                    // Si el checkbox de URL no está seleccionado, deshabilita el campo de entrada de URL
                    urlInput.disabled = true;
                }
            });

            srcCheckbox.addEventListener('change', function() {
                if (this.checked) {
                    // Si el checkbox de SRC está seleccionado, habilita el campo de entrada de SRC y deshabilita el de URL
                    srcInput.disabled = false;
                    urlInput.disabled = true;
                    urlCheckbox.checked = false;
                } else {
                    // Si el checkbox de SRC no está seleccionado, deshabilita el campo de entrada de SRC
                    srcInput.disabled = true;
                }
            });
        };
    </script>
</body>
</html>
